@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Plus Jakarta sans;
}

/* Home Style */
header {
  min-width: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background-color: #fff;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.heading {
  color: #7e6363;
  text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  font-family: Kaushan Script;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 5rem;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease;
}

header #contact {
  background-color: #c68484;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 99px;
  text-decoration: none;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
}

/* DASHBOARD SECTION */
.dashboard {
  min-width: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50rem;
  position: relative;
  /* margin-bottom: 1rem; */
}

.dashboard-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  filter: brightness(0.3);
  z-index: -1;
}

.dashboard-bg img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
  object-fit: cover;
}
.dashboard-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20rem;
}

.dashboard-text .highlight {
  color: #c68484;
}
.dashboard h1 {
  margin: 0;
  color: #fff;
  text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  font-weight: bolder;
}

.dashboard p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: normal;
}

.dashboard-text button {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 99px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #c68484;
  transition: 0.3s ease-out;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.dashboard-image img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* gallery SECTION */
.gallery {
  min-width: 100vh;
  overflow: hidden;
}
.gallery h1 {
  margin: 4rem 0 1rem 0;
  text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
.gallery-img > img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
  background-position: center center;
  object-fit: cover;
}

/* SERVICE SECTION */
.services {
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.services h1 {
  margin: 4rem 0 1rem 0;
  text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
.services-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card-1 {
  min-height: 500px;
  min-width: 500px;
  flex-basis: calc(33.333% - 40px);
  padding: 0 5rem 2rem 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card-1 img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: 0.3s ease-out;
  &:hover {
    transform: scale(1.05);
  }
}

.card-1 button {
  width: 30%;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 99px;
  border: none;
  text-decoration: none;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
  background-color: #c68484;
  transition: 0.3s ease-out;
  &:hover {
    transform: scale(1.05);
  }
}

/* ABOUT SECTION */
.about {
  min-width: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.about-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.about-content h1 {
  text-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
.about-content p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}

/* FOOTER */
footer {
  min-width: 100vh;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  padding-bottom: 2rem;
}
.footer-heading {
  font-family: Kaushan Script;
  color: #c68484;
  padding-top: 1rem;
}
.footer {
  display: flex;
  flex-direction: column;
}

.footer p {
  margin: 0;
  width: 200px;
}

.footer a {
  text-decoration: none;
  color: #000000;
  padding-bottom: 10px;
  transition: all 0.3s ease;
  &:hover {
    color: #c68484;
  }
}

/*  */
.highlighted {
  background-color: #c68484;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 99px;
  text-decoration: none;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
  transition: all 0.3s ease;
}

/* POPUP SERVICES */
.popup {
  width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;
  background: white;
  padding: 20px;
  display: none;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: 0.2s ease-in;
  padding: 20px;
}
.popup-content p {
  font-size: 1.2rem;
}
.popup-content h1 {
  margin: 0;
  font-size: 1.2rem;
}

.popup.show .popup-content {
  opacity: 1;
}

.close-btn {
  cursor: pointer;
  position: relative;
  left: 50%;
}
